#featured {

  #featured-project-container {
  @include flex(column, center, center);

    .featured-project {
      width: 60%;
      margin-bottom: $vertical-section-margin;
      @include tablet {
        @include flex(column, center, center);
      }
      @include laptop {
        @include flex(row, center, center);
      }

      .project-img {
        border: 1px solid $dark-blue;
        @include mobile {
          width: 300px;
        }
        @include tablet {
          width: 400px;
        }
      }

      .featured-project-info {
        height: 100%;
        padding: 10px;
        @include flex(column, space-around, space-around);

        h4, h5 {
          margin-bottom: $vertical-section-margin;
        }
      }
    }
  }
}

#final-projects {
  @include flex(row, center, center);

  #final-projects-container {
    width: 60%;
    @include flex(row, space-around, center);
    flex-wrap: wrap;

    a {
      position: relative;
      color: $dark-blue;
      @include flex(row, center, center);
    }
    .project-img {
      margin: $vertical-section-margin;
      border: 1px solid $dark-blue;
      opacity: 1;
      display: block;
      transition: .3s ease;
      backface-visibility: hidden;
      @include mobile {
        width: 300px;
      }
      @include tablet {
        width: 350px;
      }
    }

    .info-hover {
      transition: .3s ease;
      opacity: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      text-align: center;
    }

    a:hover .project-img {
      opacity: 0.3;
    }

    a:hover .info-hover {
      opacity: 1;
    }

  }
}
