<div id="footer">
  <div id="footer-main">
    <div class="footer-section">
      <h5>icspark@hawaii.edu</h5>
    </div>
    <div class="footer-section social">
      <a target="_blank" href="https://www.facebook.com/icsparkhawaii/"><img src="/assets/images/logo/facebook.png" alt=""></a>
      <a target="_blank" href="https://github.com/ICSpark"><img src="/assets/images/logo/github-logo-white.png" alt=""></a>
      <a href="http://eepurl.com/gMpfNP"><img src="/assets/images/logo/mailchimp.png" alt=""></a>
    </div>
    <div class="footer-section">
      <!-- reference https://stackoverflow.com/questions/4562587/shortest-way-to-print-current-year-in-a-website by T.J. Crowder -->
      <h5>Copyright <script>document.write(new Date().getFullYear())</script>.</h5>
    </div>
  </div>
</div>
