<nav>
  <ul>
    <li class="nav-link"><a href="/index.html" {% if page.url == "/" %}style="color: #DF4C1E;"{% endif %}>HOME</a></li>
    <li class="nav-link"><a href="/programs.html" {% if page.url == "/programs.html" %}style="color: #DF4C1E;"{% endif %}>PROGRAMS</a></li>
    <li class="nav-link"><a href="/about.html" {% if page.url == "/about.html" %}style="color: #DF4C1E;"{% endif %}>ABOUT</a></li>
    <li class="nav-link"><a href="/people.html" {% if page.url == "/people.html" %}style="color: #DF4C1E;"{% endif %}>PEOPLE</a></li>
    <li class="nav-link"><a href="/contact.html" {% if page.url == "/contact.html" %}style="color: #DF4C1E;"{% endif %}>CONTACT</a></li>
    <li class="nav-link"><a href="/showcase.html" {% if page.url == "/showcase.html" %}style="color: #DF4C1E;"{% endif %}>SHOWCASE</a></li>
  </ul>
</nav>
