// COLORS
$dark-blue: #121722;
$red: #e04c1e;
$light-grey: #fffced;

// BREAKPOINTS
$desktop: 1200px;
$laptop: 950px;
$tablet: 768px;
$mobile: 400px;

// MARGINS
$page-end-margin: 50px;
$vertical-section-margin: 20px;

// FONT
$roboto-condensed: 'Roboto Condensed', sans-serif;
$open-sans: 'Open Sans', sans-serif;

// FONT SIZES
$paragraph: 15px;
$sub-sub-title: 20px;
$sub-title: 25px;
$section-title: 30px;
$hero: 100px;
